<h1>Blogs</h1>
{{! employees are only available if errorMsg is blank }}
{{#if errorMsg }}
        <p>{{{errorMsg}}}</p>
{{else}}
<ul>
        {{#each blogs}}
          <li>
            {{this.title}} {{this.body}} <a href="/blogs/{{this._id}}">View</a> <a href="/blogs/{{this._id}}/edit">Update</a> <a href="/blogs/{{this._id}}/delete">Delete</a>
          </li>
        {{/each}}
</ul>
{{/if}}

<a href="/blogs/new">Create a new blog post</a>