{{> header}}

<div class="ui middle aligned left aligned grid container">

    <div class="column">
      <h3 class="ui center aligned icon header">
          <div class="content">
              Blog Post Detail
          </div>
      </h3>
    {{#if errorMsg }}
            <p>{{{errorMsg}}}</p>
    {{else}}
    <div class="ui middle aligned divided list">
            <div class="item">
                <i class="newspaper outline icon"></i>
                <div class="content">
                    <a class="header" href="/blogs/{{this._id}}">{{blog.title}} </a>
                    <div class="description">{{blog.body}}</div>
                    <div><br/></div>
                    <div class="right floated content">
                       <div class="ui button"> <a href="/blogs/{{blog._id}}/delete" class="item" onclick="return confirm('Are you sure you would like to delete this post?');">Delete</a> </div>
                    </div>
                    <div class="right floated content">
                       <div class="ui button"> <a href="/blogs/{{blog._id}}/edit" class="item">Update</a> </div>
                    </div>
                </div>
            </div>
    </div>
    {{/if}}
      {{> footer}}
    </div>
</div>
